#header,
#search-title,
#search-window,
#result-title,
#result-window,
#saved-title,
#saved-window{
  display: block;
	text-align: center;
  border-style: solid;
  width: 100%;
  background: rgba(204, 204, 204, 0.9);
}

body{
  background: url('bg.jpg');
}
body button{
  background-color: #002e5a;
  color: #ffffff;
}

#search-window form{
  padding: 20px;
}
#search-box{
  width: 100%;
}
#search-box input{
  width: 100%;
}